/FROG.DotNet/FROG.DotNet/bin
/FROG.DotNet/FROG.DotNet/obj
/FROG.DotNet/.vs/FROG.DotNet/
/FROG.DotNet/FROG.DotNet.Tests/bin
/FROG.DotNet/FROG.DotNet.Tests/obj
/FROG.DotNet/FROG.DotNet.SimpleSearch/bin/*
/FROG.DotNet/FROG.DotNet.SimpleSearch/obj/*
/FROG.DotNet/FROG.DevSetup/bin
/FROG.DotNet/FROG.DevSetup/obj